@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

.app {
    display: flex;
    flex-direction: column;
    flex: auto 1 1;
}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.left {
    width: 50%;
    flex-direction: column;
    display: flex;
}

.toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ffffff0a;
    background-color: rgb(51, 51, 51);
}

.toolbar-icon {
    padding: 5px;
    color: #aaa;
    cursor: pointer;

}

.toolbar-icon:hover {
    color: #fff;
}

#block-area {
    flex-grow: 1;
}

.right {
    width: 50%;
    flex-direction: column;
    display: flex;
}

#viewer {
    flex-grow: 1;
}

.blocklyTreeRow {
    padding-top: 5px;

}

.geras-renderer.dark-theme .blocklyText {
    fill: #000;
}

.blocklyTreeLabel {
    font-size: 14px;
}

.blocklyMainBackground {
    stroke: #1e1e1e;
}

.gutter {
    background-color: rgba(50, 50, 50, 1);
    width: 3px;
}

