.status-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 25px;
    max-height: 25px;
    padding: 3px;
    padding-left: 10px;
    background: #212121;
    border-top: 1px solid #ffffff0f;
    font-size: 12px;
    color: #c2c2cc;
    flex-grow: 1;
}

.status-bar .icon{
    margin-right:10px;
    
}

.status-bar .icon span{
    font-size: 14px;
}

.status-bar .message{
    margin-right:10px;
    font-size: 12px;
}

.status-bar .progress{
    margin-right:10px;
}