.toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ffffff0a;
    background-color: rgb(51, 51, 51);
}

.toolbar-icon {
    padding: 5px;
    color: #aaa;
    cursor: pointer;

}

.toolbar-icon:hover {
    color: #fff;
}
